/* author: https://codepen.io/Pedro-Ondiviela/pen/XWGVQyY
Pedro Ondiviela
 */

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
body {
  background-color: #ffffff; /* Set the background color to white */
  margin: 0;
  padding: 0;
}
.advice {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.tooltip {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;  /* Set explicit width */
  height: 150px; /* Set explicit height */
  font-size: 30px; /* Increase font size */
  overflow: auto; /* Adds scrollbars if the content exceeds the height */
  pointer-events: none; /* Prevents tooltip from capturing mouse events */
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better visibility */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



